.dropdown {
  overflow: visible;
  z-index: 10002;
  top: 35px;
  left: 0px;
  box-sizing: content-box;
  display: block;
  position: absolute;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  .dropdown__item {
    color: black;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    margin: 8px 0;
    z-index: 1;
    &:hover {
      background-color: #f8f9fa;
    }
    a {
      color: #000;
      font-weight: 400;
      padding: 3px 1.5rem;
      padding-right: calc(3rem + 16px);
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
