@import "styles/globalStyles.scss";

.view-more {
  margin-left: 20px;
  margin-right: 50px;
  display: inline-flex;
  align-items: center;

  p {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
    width: 103px;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.view-more__array-icon {
  background-image: url("../../../../../../assets/images/RightArrow.svg");
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  margin-left: 4px;
  font-size: 1.1em;
}
