@import "styles/globalStyles.scss";

.contact__facts {
  margin-bottom: 0;
  width: 100%;
}

.contact__social-links {
  display: flex;
  div {
    height: 30px;
    margin-bottom: 30px;
  }
  div + div {
    margin-left: 10px;
  }
}
.contact__hompage {
  border-left: 1px solid #d7d7d7;
  padding-left: 8px;
}
.contact__social-link {
  padding: 0;
  display: block;
  font-size: 1.9em;
}

.contact__social-facebook {
  background-image: url("../../../../../assets/images/Facebook.svg");
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  margin-left: 4px;
  font-size: 2em;
}

.contact__social-twitter {
  background-image: url("../../../../../assets/images/Twitter.svg");
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  margin-left: 4px;
  font-size: 2em;
}

.contact__social-instagram {
  background-image: url("../../../../../assets/images/Instagram.svg");
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  margin-left: 4px;
  font-size: 2em;
}

.contact__social-home {
  background-image: url("../../../../../assets/images/Home.svg");
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  margin-left: 4px;
  font-size: 2em;
}

p.contact {
  margin: 0 0 20px 0;
  font-size: 1em;
  strong {
    display: block;
    font-weight: 600;
  }
}
