@import "styles/globalStyles.scss";

.header-poster {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  box-sizing: border-box;
  padding-left: 40px;
}

.header-poster__title {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  h2 {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
    a {
      padding: 0;
      font-weight: 700;
      &:hover {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  a {
    padding: 0;
    &::after {
      content: ", ";
    }
    &:last-child::after {
      content: "";
    }
    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

.header-poster__release-date {
  opacity: 0.8;
  font-weight: 400;
}
.header-poster__facts {
  display: flex;
  align-items: center;
  span + span {
    position: relative;
    top: 0;
    left: 0;
    &::before {
      font-size: 1.1em;
      line-height: 1;
      content: "\2022";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 7px;
      display: inline-flex;
      align-content: center;
      align-items: center;
    }
    &:first-child::before,
    &:nth-child(2)::before {
      content: "";
    }
  }
}
.header-poster__genres {
  padding-left: 20px;
}
.header-poster__runtime {
  padding-left: 20px;
}
.header-poster__certification {
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  align-content: center;
  padding: 0.06em 4px 0.15em 4px !important;
  border: 1px solid rgb(176 176 176 / 60%);
  color: rgb(176 176 176 / 60%);
  line-height: 1;
  border-radius: 2px;
  margin-right: 7px;
}
span.header-poster__release {
  padding-left: 0;
}

.action {
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  li {
    margin-right: 20px;
  }
}
.tooltip {
  padding: 3px 0;
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    background: rgb(3 36 65);
    border-radius: 50%;
    width: 46px;
    height: 46px;
  }
}
.tooltip__list {
  background-image: url("../../../../../assets/images/List.svg");
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  margin-left: 4px;
  font-size: 1em;
}
.tooltip__heart {
  background-image: url("../../../../../assets/images/Heart.svg");
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  margin-left: 4px;
  font-size: 1em;
}
.tooltip__bookmark {
  background-image: url("../../../../../assets/images/Bookmark.svg");
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  margin-left: 4px;
  font-size: 1em;
}
.tooltip__rating {
  background-image: url("../../../../../assets/images/Star.svg");
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  margin-left: 4px;
  font-size: 1em;
}
.video__content {
  margin: 0;
  border: none;
  background: transparent;
  width: auto;
  height: auto;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
.video__play {
  background-image: url("../../../../../assets/images/Play.svg");
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  margin-left: 4px;
  filter: invert(1);
  margin-right: 5px;
  font-size: 1.4em;
}
.chart {
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 68px;
}
.text {
  font-weight: 700;
  margin-left: 6px;
  white-space: pre-line;
}
.details {
  width: 68px;
  height: 68px;
  display: inline-block;
  transition: transform 0.2s;
  transform: scale(1);
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.outer_ring {
  display: inline-block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  padding: 4px;
  background-color: #081c22;
}

.user_score {
  position: relative;
}

.percent {
  z-index: 1;
  position: absolute;
  top: 21%;
  right: 18%;
}

.header-info {
  width: 100%;
  font-size: 0.92em;
  h3 {
    width: 100%;
    margin: 0 0 8px 0;
  }
}

.header-info__people {
  margin-top: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  li {
    background-color: transparent;
    height: auto;
    margin-bottom: 15px;
    width: 33%;
    flex-basis: 33%;
    text-align: left;
    margin-right: 0;
    box-sizing: border-box;
    padding-right: 20px;
    p {
      font-size: 1em;
      margin: 0;
      padding: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      a {
        font-weight: bold;
        padding: 0;
      }
    }
  }
}
.header-info__character {
  font-size: 0.87em;
}

.header-info__tagline {
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  opacity: 0.7;
  & + h3 {
    margin-top: 10px;
  }
}
