.shortcut-bar {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 1px;
}

.shortcut-bar__list {
  padding: 0;
  height: 100%;
  background-color: #fff;
  font-weight: 600;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  position: relative;
  display: flex;
  align-items: stretch;
}

.true {
  border-bottom: 4px solid var(--ligh-blue);
}

.shortcut-bar__item {
  position: relative;
  display: flex;
  padding: 6px 0 4px 0;
  margin-right: 40px;
  color: #000;
  font-weight: 400;
}

.shortcut-bar__item .shortcut-bar__link {
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
  white-space: nowrap;
  font-weight: 400;
  cursor: pointer;
}

.shortcut-bar__icon {
  margin-left: 0.25rem;
  margin-right: -0.25rem;
}
