@import "styles/globalStyles.scss";

.media-panel__content {
  width: 100%;
  padding: 20px;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.media-panel__grouped {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}
.media-panel__avatar {
  width: 64px;
  margin-right: 20px;
  img {
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 50%;
  }
}

.media-panel__info {
  width: 100%;
  h5 {
    margin: 0;
    font-weight: 200;
    font-size: 0.9em;
    margin-bottom: 0;
    a {
      padding: 0;
      font-weight: 550;
    }
  }
}

.media-panel__teaser {
  padding-left: 84px;
  padding-top: 20px;
  box-sizing: border-box;
}

.media-panel__rating {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  h3 {
    display: inline-block;
    margin: 0;
    font-size: 1.3em;
    font-weight: 700;
    a {
      padding: 0;
    }
  }
}
.media-panel__star {
  padding: 1px 8px;
  margin-left: 14px;
  font-size: 0.9em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 8px;
  color: #fff;
  border: 2px solid #000;
}
.media-panel__icon {
  background-image: url("../../../../../../assets/images/Rating.svg");
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  margin-left: 4px;
  font-size: 1em;
  margin-right: 2px;
  filter: invert(1);
}
.media-panel__link--underline {
  padding: 0;
  text-decoration: underline;
}

.media-panel__button {
  margin: 20px 0 0 0;
  display: inline-block;
  a {
    padding: 0;
    font-weight: 600;
    font-size: 1.1em;
    &:hover {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

p.text {
  overflow-wrap: break-word;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
