:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #161823;
    --ligh-blue: rgb(1, 180, 228);
  }
  body {
    margin: 0 !important;
  }
  body * {
    box-sizing: border-box;
    color: #000;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1em;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    padding: 8px;
    outline: 0;
    text-decoration: none;
    background: transparent;
  }
  
  img {
    outline: none;
  }
  
  h2 {
    font-weight: 600;
  }
  
  ul {
    list-style-type: none;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(216, 215, 215);
    border-radius: 50px;
  }
  
  .visible {
    /* display: flex; */
    top: 0;
    transition: top 0.4s ease-out;
  }
  
  .hidden {
    /* display: none; */
    top: -80px;
    transition: top 0.4s ease-out;
  }