.trend {
  width: 100%;
  margin-bottom: 0;
  img {
    position: relative;
    left: -6px;
    width: 200px;
    height: 50px;
  }
}

.trend__title {
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
}
