.media {
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  padding: 2% 6%;
}
.right-column {
  padding-top: 4px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  p {
    margin: 0 0 20px 0;
    font-size: 1em;
    strong {
      display: block;
      font-weight: 600;
    }
  }
}

.left-column {
  background-color: #fff;
  width: calc(100vw - 80px - 308px);
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  padding-right: 30px;
}
