@import "styles/globalStyles.scss";
.top-billed {
  width: 100%;
  display: block;
  padding-bottom: 30px;
}

.top-billed__title {
  margin: 0;
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 20px;
}

.top-billed__cast {
  position: relative;
  top: 0;
  left: 0;
}

.top-billed__people {
  overflow-y: hidden;
  overflow-x: scroll;
  padding-bottom: 10px;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}

.top-billed__card {
  margin-right: 14px;
  margin-bottom: 10px;
  border: 1px solid rgb(227, 227, 227);
  padding-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  min-width: 140px;
  width: 140px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  img {
    width: 100%;
    height: 100%;
  }
  a + p {
    padding-top: 10px;
  }
  p {
    padding: 0 10px;
    font-size: 1em;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    a {
      font-weight: bold;
      color: #000;
      padding: 0;
    }
  }
}

.top-billed__filler {
  margin-right: 20px;
  margin-left: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0;
  p {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
    width: 103px;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

span.top-billed__array-icon {
  background-image: url("../../../../../assets/images/RightArrow.svg");
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  margin-left: 4px;
  font-size: 1.1em;
}

p.top-billed__character {
  font-size: 0.9em;
}

.top-billed__image {
  padding: 0;
  min-width: 138px;
  width: 138px;
  height: 175px;
  display: block;
}

.top-billed__button {
  margin: 20px 0 0 0;
  display: inline-block;
  a {
    padding: 0;
    font-weight: 600;
    font-size: 1.1em;
    &:hover {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.top-billed__picture {
  background-image: url("../../../../../assets/images/Picture.svg");
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 1.1em;
  width: 100%;
  height: 100%;
  background-color: #dbdbdb;
  background-size: 50%;
  box-sizing: border-box;
  border: 1px solid #d7d7d7;
}
