.content {
  margin-bottom: 0;
  width: 100%;
}

.content__title {
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
}

.content__progress {
  height: 38px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
p.content__score {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  padding: 0;
  margin-bottom: 0;
}
p.content__score--status {
  font-size: 0.9em;
  white-space: nowrap;
  box-sizing: border-box;
}

.content__true {
  display: flex;
  align-items: center;
  background: #07c658;
  height: 100%;
  overflow: visible;
  border-radius: 8px;
  width: 88%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 12px;
}
