@import "styles/globalStyles.scss";

.most-popular {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 8px;
  display: flex;
  height: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
}

.most-popular__video {
  min-width: 533px;
  height: 300px;
  border: none;
  margin-top: 0;
  border-top-left-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.most-popular__trailer {
  width: 67px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  &:hover .most-popular__play-trailer {
    opacity: 0.6;
  }
}

.most-popular__play-trailer {
  background-image: url("../../../../../../assets/images/PlayTrailer.svg");
  position: relative;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: inherit;
  filter: invert(1);
  width: 50%;
  height: 50%;
  left: 1px;
}

.most-popular__backdrop {
  width: 533px;
  height: 300px;
  img {
    width: 533px;
    min-width: 533px;
    height: 300px;
    min-height: 300px;
  }
}

.most-popular__poster {
  width: 200px;
  height: 300px;
  img {
    width: 200px;
    height: 300px;
  }
}
