li.tooltip {
  padding: 3px 0;
  margin-left: 10px;
  margin-right: 10px;
  .tooltip-box {
    position: relative;
    box-sizing: border-box;
    background: rgb(3, 37, 65);
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}

div.tooltip-box__popup {
  position: absolute;
  bottom: -94%;
  background: #032541;
  white-space: nowrap;
  padding: 8px;
  border-radius: 0.25rem;
  z-index: 10;
  font-size: 0.9em;
  &:before {
    position: absolute;
    top: -6px;
    left: 51%;
    margin-left: -10px;
    content: "";
    display: block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(3, 37, 65);
  }
}
