.key-word {
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 30px;
  width: 100%;
  h4 {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.key-word__lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 30px;
  padding-left: 0px;
  margin: 0;
}

.key-word__list {
  margin-right: 5px;
  margin-bottom: 10px;
  line-height: 24px;
  font-size: 0.9em;
  box-sizing: border-box;
  white-space: nowrap;
  a {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #d7d7d7;
    color: #000;
    padding: 4px 10px;
    border-radius: 4px;
  }
}
