.footer {
  max-width: 100%;
  background-color: rgb(3, 37, 65);
  background-position: center top;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}

.footer nav div {
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}

.join {
  text-align: right;
  position: relative;
  top: -36px;
  right: 0;
  img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.join__logo {
  position: relative;
  top: 140px;
  background-color: var(--white);
  color: rgb(1, 180, 228) !important;
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid var(--white);
  border-radius: 5px;
  padding: 8px 16px;
}

.footer nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  li {
    text-align: left;
    line-height: 1.6em;
    max-width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white);
    a {
      padding: 0;
      font-size: 1.3em;
    }
  }
}

.nav {
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
  h3 {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: var(--white);
    white-space: nowrap;
    text-align: left;
    margin: 0 0 4px 0;
  }
  a {
    color: var(--white);
  }
}
