.header-lagre {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;

  * {
    color: var(--white);
  }
}
.header-lagre__custom-bg {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  padding: 2% 6%;
  width: 100%;
}
