.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  margin-top: 30px;
  width: 182px;
  max-width: 182px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  background-color: #fff;
}
.card__image {
  width: 100%;
  height: 273px;
  max-height: 273px;
}
.card__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
  img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
.card__image-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0;
}
div.option {
  position: absolute;
  top: 8px;
  right: 8px;

  opacity: 0.6;
  &:hover {
    opacity: 1;
    filter: brightness(0) saturate(100%) invert(53%) sepia(33%) saturate(3054%)
      hue-rotate(156deg) brightness(98%) contrast(99%);
  }
}
.option__circle-more {
  background-image: url("../../../../assets/images/Circle_more.svg");
  width: 1em;
  height: 1em;
  font-size: 1.6em;
  cursor: pointer;
}
.content {
  width: 100%;
  padding: 26px 10px 12px 10px;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  h2 {
    font-size: 1em;
    margin: 0;
    width: 100%;
    overflow-wrap: break-word;
    text-align: left;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
  }
  a {
    font-weight: 700;
    color: #000;
    padding: 0;
    &:hover {
      color: var(--ligh-blue);
    }
  }
  p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
  }
}

.content__consensus {
  position: absolute;
  top: -19px;
  left: 10px;
  display: inline-block;
}

.content__outer-ring {
  width: 36px;
  height: 36px;
  padding: 2px;
  display: inline-block;
  border-radius: 50%;
  background-color: #081c22;
}

.content__user-score {
  position: relative;
}

.percent {
  position: absolute;
  top: 2%;
  right: 12%;
}
