div.visit {
  height: 30px;
  margin-bottom: 20px;
}

a.visit__link {
  position: relative;
  display: block;
  color: #262626;
  padding: 0;
}

div.visit__popup {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -100%;
  background: #032541;
  color: #fff;
  white-space: nowrap;
  padding: 8px;
  border-radius: 0.25rem;
  z-index: 100;
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 5px solid #032541;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
}
