.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__overlay {
  display: block;
  z-index: 30000;
  opacity: 0.5;
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
}
.modal__video {
  border: none;
  width: 75%;
  height: 85%;
  top: 50%;
  left: 50%;
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  position: fixed;
  z-index: 30001;
  opacity: 1;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.title-bar {
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding: 1rem 1rem;
  border-width: 0 0 1px;
  border-style: solid;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
}

.title-bar__title {
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  overflow: hidden;
  cursor: default;
  display: flex;
  flex: 1;
  opacity: 0.8;
}

.title-bar__close {
  opacity: 0.8;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.video {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0px;
  margin: 0px;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
